#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash and history log files
crash.log
.history

# .tfvars files
*.tfvars

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?


