#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash and history log files
crash.log
.history
.vscode
.gitignore_*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .tfvars files
*.tfvars

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?


