[sensu-backend]
${nodes}

# To bypass the interactive acceptance of host keys enable the following options.
# This is an additional security risk, so be sure you are on a secure network.
# This can be useful if the targets were provisioned automatically and the ansible
# host has not logged into the targets before.

[sensu-backend:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_ssh_private_key_file=../keys/id_rsa
ansible_user=ubuntu

